<!doctype html>
<html lang="en">
<head>
    <title>Home Clip</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet"/>
</head>
<body class="flex flex-col sm:flex-row h-screen w-screen  gap-3 bg-nice-bg">




<div class="flex flex-col w-full justify-center items-center">
    <div class="absolute bg-nice-footer hidden border-3 rounded-2xl border-white p-2 transition-all pointer-events-auto z-50"
         id="newLinkForm">
        <div class="flex flex-row border-b-2 border-white w-full">
            <div class="w-1/2"><h1 class="text-white text-2xl font-extrabold">New Link</h1></div>
            <div class="w-1/2 justify-end flex">
                <button class="text-white text-lg p-1 font-bold hover:cursor-pointer" onclick="cancelAddLink()">Cancel
                </button>
            </div>
        </div>
        <form method="post" action="{{ url_for('addLink.add_link') }}" class="flex flex-col gap-2 pt-2"
              autocomplete="off">
            <div class="flex flex-row">
                <div class="flex flex-col w-1/4 gap-2 text-white font-bold">
                    <label class="p-0.5">Title:</label>
                    <label class="p-0.5">Link:</label>
                    <label class="p-0.5">Tag:</label>
                </div>
                <div class="flex flex-col w-full gap-2 text-black">
                    <input class="bg-white p-0.5" type="text" name="title" placeholder="Title" required/>
                    <input class="bg-white p-0.5" type="text" name="link" placeholder="Link" pattern="https?://.+"
                           required/>
                    <input class="bg-white p-0.5" type="text" name="tag" placeholder="Tag">
                </div>
            </div>
            <div class="flex flex-row items-center justify-center gap-1 w-full">
                <button type="submit" class="bg-white text-black font-bold rounded-2xl p-2 hover:cursor-pointer">
                    Submit
                </button>
            </div>
        </form>
    </div>



    <h1 class="text-5xl text-center text-white font-extrabold p-2">
        Top 5 Most Clicked Links
    </h1>
    <ul id="listOfLinks" class="items-center  min-w-80 max-w-80  sm:min-w-160 sm:max-w-160 flex flex-col gap-2 p-2"></ul>
</div>

</body>
</html>

<script src="{{ url_for('static', filename='js/link.js') }}"></script>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
<script src="{{ url_for('static', filename='js/loadNavBar.js') }}"></script>
<script src="{{ url_for('static', filename='js/loadEditLink.js') }}"></script>
<script>
    window.onload=function (){
        loadNavBar()
        getLinksTop()
        loadEditLink()
    }
    let currentUrl = document.getElementById("currentUrl").value = window.location.href
</script>
