<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tags</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet"/>
</head>

<body onload="loadNavBar()" class="flex flex-col sm:flex-row h-screen w-screen  gap-3 bg-nice-bg">
    {% for tag in tags %}
        <h1 class="text-7xl">{{ tag }}</h1>
    {% endfor %}
</body>

</html>


<script src="{{ url_for('static', filename='js/loadNavBar.js') }}"></script>